@@ -4,26 +4,6 @@
# Ignore Gradle build output directory
build

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### intelliJ ###
.idea/*

### resource folder ###
*.osm
*.zip
*.bin

### .class ###
*.class
.vscode/settings.json
app/scr/test/java/bfst23group19/SyntaxTest.java
.gitignore